.bg-ledger {
    background-color: #7e56c2;
}

.table-bg-dark {
    --bs-table-bg:  #2d303D !important;
}

body {
    background-color:  #2d303D;
}

.text-white {
    color: white;
}

.alert-ledger-light {
    color: #FFFFFF;
    background-color: #A570FF;
    border-color: #422D66;
}
.alert-ledger {
    color: #FFFFFF;
    background-color: #7e56c2;
    border-color: #422D66;
}